html {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  color: #000;
}

a:focus,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding:15px 0px
}

.navbar-brand > img {
  width: 100px;
}

.navbar-toggle {
  border: 0 solid #000;
  position: relative;
  float: right;
  font-size: 12px;
  padding: 8px 0;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
}

.navbar-default {
  background: linear-gradient(90deg,#ff6a00,#ee0979);
  border-bottom: 0;
  color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default a {
  color: #fff;
}

.trending {
  // background-color: #ffffff;
}

.search .heading,
.trending .heading {
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  // margin-top: 25px;
  border-top: 1px solid #eeeeee;
}

.trending .heading a {
  font-size: 12px;
}

.search {}

.search .heading {
  font-size: 12px;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.search input {
  border-right: 0;
}

.search-bar {
  padding: 10px;
  background: linear-gradient(90deg,#ff6a00,#ee0979);
}

.search-btn {
  border-left: 0;
}

.search-btn:active,
.search-btn:focus,
.search-btn:hover {
  background-color: #fff;
}

.no-data-found {
  padding: 50px;
  font-size: 16px;
  color: #ccc;
  text-align: center;
}

.video-listing {
  padding: 10px;
}

.video-card-container {
  position: relative;
}

.videocard-overlay {
  background-color: #000000d1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  vertical-align: middle;
  bottom: 0;
  padding: 15px;
  display: flex;
  color: #fff;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.video-card {
  padding: 6px 0 0 5px;
  background-color: #fff;
  border: 1px solid #eee;
}

.video-thumbnail {
  width: 120px;
  display: inline-block;
  height: 70px;
  padding: 0 5px 0 0;
}

.video-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-description {
  // padding:  0px 0px 0px 0px;
  display: inline-block;
  font-size: 12px;
  float: right;
  width: calc(100% - 120px);
}

.video-actions,
.video-actions a {
  background-color: #eee;
  padding: 5px;
  text-align: center;
  color: #5a5a5a;
  margin-bottom: 10px;
}

.download-ready {
  color: green!important;
}

.video-player-container {
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc(100%-20px);
  padding: 2px;
  background-color: #fff;
  box-shadow: 0 -10px 41px 0 rgba(0,0,0,.39), 0 -10px 59px 0 rgba(0,0,0,.79);
}

.video-player {
  max-height: 150px;
  height: 150px!important;
  width: 100%!important;
}

.loading {
  width: 100px;
  text-align: center;
  display: block;
  margin: 50px auto;
}

.loading-bar {
  display: inline-block;
  width: 4px;
  margin: 2px;
  height: 16px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: 0.18s;
}

.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: 0.27s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.2);
  }

  40% {
    transform: scale(1);
  }
}

.confirmation {
  .modal-content {
    border-radius: 0;
    // background: #ee0979;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(90deg,rgba(255, 106, 0, 0.7),rgba(238, 9, 121, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(90deg,rgba(255, 106, 0, 0.7),rgba(238, 9, 121, 0.7));
  }

  .modal-header {
    padding: 10px;
  }

  .modal-title {
    font-size: 16px;
  }

  .modal-body {
    padding: 20px 10px;

    p {
      margin: 0;
    }
  }

  .modal-footer {
    padding: 10px;
  }
}

div[role="dialog"] {
  display: flex!important;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
}

.slick-card {
  background-color: #fff;
  // border-bottom: 1px solid #eee;
}

.slick-card .video-card-container {
  position: relative;
  padding: 10px;
}

.slick-card .videocard-overlay {
  background-color: #000000d1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  vertical-align: middle;
  bottom: 0;
  padding: 15px;
  display: flex;
  color: #fff;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slick-card .video-card {
  padding: 6px 0 0 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px 5px 0 0;
}

.slick-card .video-thumbnail {
  width: 140px;
  display: inline-block;
  height: 100px;
  padding: 0 5px 0 0;
}

.slick-card .video-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slick-card .video-description {
  display: inline-block;
  font-size: 12px;
  float: right;
  width: calc(100% - 140px);
}

.slick-card .video-actions,
.slick-card .video-actions a {
  background-color: #eee;
  padding: 5px;
  text-align: center;
  color: #5a5a5a;
  margin-bottom: 10px;
}

.slick-card .video-actions {
  margin-bottom: 0;
  border-radius: 0 0 5px 5px;
}

.mp3-card {
  margin: 5px 10px;
  border: 1px solid #eee;
}

.mp3-info {}

.mp3-thumb {
  width: 50px;
  display: inline-block;
  height: 50px;
  // padding:0px 5px 0px 0px;
}

.mp3-detail {
  display: inline-block;
  font-size: 12px;
  float: right;
  width: calc(100% - 50px);
  padding: 5px;
}

.mp3-detail .track {
  font-size: 14px;
}

.mp3-actions {
  background-color: #eee;
  padding: 5px;
}

.mp3-actions ul {
  margin-bottom: 0;
  list-style: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  text-align: center;
  // width: 100px;
  // display: inline-block;
  // height: 50px;
  // float: right;
  // padding:0px 5px 0px 0px;
}

.mp3-actions ul li {
  display: inline-block;
  margin: 0 5px;
}
// slick
.slick-dots {
  bottom: -20px!important;
}

.slick-dots li.slick-active button:before {
  color: #f1275d;
}

.slick-dots li button:before {
  color: #000000;
}

.typehead-container {
  background: linear-gradient(90deg,#ff6a00,#ee0979);
  padding: 10px;
}
.rbt-input {
  border-radius: 0px;
}
.rbt-menu {
  border-radius: 0px;
  margin-top: -2px;
  padding: 0px;
}
.rbt-menu > li {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  // padding: 5px 0;
}
.rbt-menu > li:nth-last-child(1) {
  border-bottom: 0px solid #eee;
  // padding-bottom: 0px;
}
.rbt-menu > li a {
  padding: 5px 10px;
}
